<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.fchantrel.makeitday"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.fchantrel.makeitday.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.Menu1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ScanQRCodeLauncherActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name=".activity.LRProsActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name=".activity.LRRechercheActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name=".activity.LRFavorisActivity"
            android:label="@string/app_name" />
      
    </application>

</manifest>
